<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-7">
                <h3>Add Tenant:</h3>
                <br>
                <form class="form new-tenant-form" id="update_tenant">
                      <div class="form-group">
                        <label for="phone_number">Tenant Phone Number:</label>
                        <textarea class="form-control my-2" rows="1" id="phone_number" name="phone_number"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="email">Tenant Email:</label>
                        <textarea class="form-control my-2" rows="1" id="email" name="email"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="first_name">Tenant First Name:</label>
                        <textarea class="form-control my-2" rows="1" id="first_name" name="first_name"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Tenant Last Name:</label>
                        <textarea class="form-control my-2" rows="1" id="last_name" name="last_name"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="emer_contact_name">Emergency Contact Name:</label>
                        <textarea class="form-control my-2" rows="1" id="emer_contact_name" name="emer_contact_name"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="emer_contact_phone">Emergency Contact Phone:</label>
                        <textarea class="form-control my-2" rows="1" id="emer_contact_phone" name="emer_contact_phone"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="addMe">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="/js/add_tenant.js"></script>